table {
    border: 2px solid;
    width: 100%;
    text-align: center;
    margin: 20px 0px 30px 0px;
    border-collapse: collapse; 
}
th, td {
    width: 25%;
    padding: 5px;
}
h1 {
    margin: 0px;
    text-align: left;
}
tr:nth-child(odd){
    background-color: rgb(184, 224, 4);
}
.price{
    margin: 0px;
    text-align: right;
}
th {
    background-color: white;
}
.skills {
    text-align: left;
}
.course {
    text-align: left;
}
.skills h2 {
    margin: 3px;
}
p {
    color: rgb(255, 123, 0);
    margin: 0px;
    text-align: left;
}
